extends ./layout/index 

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus tellus sem, nec iaculis quam gravida eu. Integer non tempus lectus. Nullam scelerisque sed massa ut suscipit.

                p Quisque a odio auctor eros congue maximus at ut tortor. Proin dapibus imperdiet dolor eget accumsan. Mauris ex neque, faucibus pharetra volutpat eget, rhoncus ac augue. Aenean ullamcorper fermentum placerat. Sed mauris mi, consectetur nec mauris quis, sollicitudin imperdiet est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu nulla vitae diam scelerisque hendrerit et ut mi.

                p In eu purus eu mi viverra sagittis non a leo. Sed mauris mi, consectetur nec mauris quis, sollicitudin imperdiet est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu nulla vitae diam scelerisque hendrerit et ut mi. In eros sem, iaculis et vehicula vel, convallis faucibus orci.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu nulla vitae diam scelerisque hendrerit et ut mi. In eros sem, iaculis et vehicula vel, convallis faucibus orci.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu nulla vitae diam scelerisque hendrerit et ut mi. In eros sem, iaculis et vehicula vel, convallis faucibus orci.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precio 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu nulla vitae diam scelerisque hendrerit et ut mi. In eros sem, iaculis et vehicula vel, convallis faucibus orci. 